
.cabecalho {
    background-image: url('../imagens/foto_hostel8.png');
    background-position: 85%;
    background-size: cover;
    padding: 2em 1em 0.8em 1em ;
}

.cabecalho-nome {
    font-family: var(--fonte-header);
    font-size: 50px;
    text-align: center;
    color: var(--branco);
    margin-top: -0.3em;
    padding: 0 0 0.1em 0;
    
}

.cabecalho-subnome {
    font-size: 30px;
    font-family: var(--fonte-secundaria);
    text-align: center;
    color: var(--branco);
    padding-bottom: 1em;
}

.cabecalho-navegacao {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;  
}

.cabecalho_navegacao-item {
    font-family: var(--fonte-padrao);
    font-size: 14px;
    color: var(--branco); 
    text-decoration: none;
}
.item-nav {
    display: none;
}

@media screen and (min-width: 1024px) {

    .cabecalho-nome {
        font-size: 100px;
        padding-top: 1em;
        padding-bottom: 0.3em;
    }

    .cabecalho-subnome {
        font-size: 50px;
        padding-bottom: 1.5em;
    }

    .cabecalho-navegacao {
        justify-content: space-between;
    }

    .cabecalho_navegacao-item {
        display: none;
    }

    .item-nav {
        display: block;
        font-family: var(--fonte-padrao);
        font-size: 18px;
        color: var(--branco); 
        text-decoration: none;
    }
}


@media screen and (min-width: 1728px) {

    .cabecalho-nome {
        font-size: 160px;
    }

    .cabecalho-subnome {
        font-size: 80px;
    }

    .cabecalho-navegacao {
        justify-content: space-around;
        padding-bottom: 1em;
    }

    .item-nav {
        font-size: 25px;
    }
}

@media screen and (min-width: 2560px) {
    .cabecalho-nome {
        font-size: 180px;
    }

    .cabecalho-subnome {
        font-size: 100px;
    }

    .item-nav {
        font-size: 35px;
    }
}