
.cabecalho {
    background-image: url('../imagens/foto_hostel8.png');
    background-position: 83%;
    background-size: cover;
    padding: 2em 1em 0.8em 1em ;
}

.cabecalho-nome {
    font-family: var(--fonte-header);
    font-size: 50px;
    text-align: center;
    color: var(--branco);
    margin-top: -0.3em;
    padding: 0 0 0.1em 0;
    
}

.cabecalho-subnome {
    font-size: 30px;
    font-family: var(--fonte-secundaria);
    text-align: center;
    color: var(--branco);
    padding-bottom: 1em;
}

.cabecalho-navegacao {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;  
}

.cabecalho_navegacao-item {
    font-family: var(--fonte-padrao);
    font-size: 14px;
    color: var(--branco); 
    text-decoration: none;
}

