
/* SECTION CIDADE */ 

.cidade_titulo {
    font-size: 20px;
    text-align: center;
    line-height: 1.5em;
    color: var(--cinza-escuro);
    margin: 1em;
}

.cidade-negrito {
    font-weight: 700;
}

.cidade-titulo-link {
    text-decoration: none;
    color: var(--cinza-escuro);
}

.container-cidade {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--verde);
    color: var(--offwhite);
    border-radius: 1em;
    width: 85%;
    margin: 0 auto;
    padding: 1em;
}

.container-titulo {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 0.5em;
}

.container-texto {
    font-size: 14px;
    text-align: center;
    line-height: 1.5em;
}

.container-video {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.container-text {
    display: none;
}

/* SECTION OPÇÕES CASA */

.opcoes-casa {
    color: var(--cinza-escuro);
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--cinza);
    border-radius: 1em;
    padding: 0.7em 2em;
    margin: 2em 2.5em 1.5em 2.5em;
}

.opcoes-casa_itens {
    background: var(--cinza);
    width: 90%;
    margin: 0 auto;
    border-radius: 1em;
    padding: 1em 0;
}

.opcoes-casa_titulo {
    color: var(--cinza-escuro);
    font-weight: 500 ;
    text-transform: uppercase;
    padding: 0.5em;
}

.container_opcoes-casa {
    display: flex;
    padding: 0.5em;
    align-items: center;
    justify-content: center;
    
}

.container_opcoes-casa-imagem {
    width: 8%;
    padding-left: 1em;
}

.opcoes-casa_descricao {
    color: var(--cinza-escuro);
    padding: 0.3em 3em 1em 3em;
    text-align: center;
    line-height: 1.3em;
}

/* SECTION CARROSSEL */

.carrossel-titulo {
    color: var(--cinza-escuro);
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 2.5em 0 1.5em 0;
}

.swiper-slide img {
    width: 91% ;
    padding-left: 1.1em;
    padding-right: 1em;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}

.swiper-pagination-bullet-active {
    background:var(--cinza-escuro);
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

/* SECTION AMBIENTES */ 

.container-ambientes {
    background: var(--cinza);
    width: 90%;
    margin: 0 auto;
    border-radius: 1em;
    padding: 1em 0 0.5em 0;
}

.opcoes-ambientes_titulo {
    color: var(--cinza-escuro);
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--cinza);
    border-radius: 1em;
    padding: 0.7em 2em;
    margin: 2em 2.5em 1.5em 2.5em;
}

.opcoes-ambientes_subtitulo {
    color: var(--cinza-escuro);
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding: 0.3em;
    margin-bottom: 0.3em;
}

.opcoes-ambientes_descricao {
    color: var(--cinza-escuro);
    text-align: center;
    line-height: 1.3em;
    padding: 0em 1em 1em 1em;
}


/* SECTION LOCALIZACAO */ 

.container_localizacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--verde);
    color: var(--offwhite);
    border-radius: 1em;
    height: auto;
    width: 85%;
    margin: 2.5em auto;
    padding: 1.5em;
}

.localizacao-titulo {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.5em;
}

.localizacao_descricao {
    font-size: 14px;
    text-align: center;
    line-height: 1.5em;
}

.localizacao_link {
    text-decoration: none;
    color: var(--offwhite);
    font-weight: 700;
}

.localizacao_imagem {
    width: 100%;
    margin-top: 1em;
}

.localizacao-text {
    display: none;
}


@media screen and (min-width: 768px) {

    .container-video {
        width: 70%;
    }
    .swiper {
        width: 65vw;
    }
    .localizacao_imagem {
        width: 55%;
    }
}



@media screen and (min-width: 1024px) {

    /* SECTION CIDADE */ 

    .cidade_titulo {
        font-size: 35px;
        padding: 0.5em;
    }

    .container-cidade {
        flex-direction: row;
    }

    .container-titulo, .container-texto {
        display: none;
    }

    .container-text {
        display: block;
        text-align: center;
        padding-right: 3em;
        padding-top: 4em;
        margin-left: 2em;
        margin-right: 2em;
        padding-bottom: 4em;
    }

    .container-text_titulo {
        font-size: 25px;
        font-weight: 700;
    } 

    .container-text_descricao {
        font-size: 17px;
        line-height: 1.8em;
    }

    .container-video {
        width: 100%;
    }
    

    /* SECTION OPÇÕES CASA */

    .opcoes-casa {
        font-size: 20px;
        padding: 1em;
        margin: 4em 6em 2em 6em;
    }

    .opcoes-casa_itens1, .opcoes-casa_itens2, .opcoes-casa_itens3, .opcoes-casa_itens4, .opcoes-casa_itens5  {
        width: 30vw;
        height: 35vh;
    }

    .opcoes-casa_itens {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        height: 75vh;
        padding-top: 1.5em;
    }

    .opcoes-casa_titulo {
        font-size: 18px;
    }

    .opcoes-casa_descricao {
        padding-top: 0.5em;     
        line-height: 1.6em;
    }

    /* SECTION CARROSSEL */

        .carrosel {
            display: flex;
            align-items: center;
            padding: 5em 0 4em 1.5em;
        }

        .carrossel-titulo {
            font-size: 25px;
            color: var(--offwhite);
            background: var(--verde);
            border-radius: 50px;
            padding: 1em 1.5em;
        }

        .swiper {
            width: 52vw;
        }


        /* SECTION AMBIENTES */ 

        .opcoes-ambientes_titulo {
            font-size: 20px;
            padding: 1em;
            margin: 0.5em 6em 2em 6em;
        }

        .container-ambientes {
           padding: 2em 0;
        }

        .opcoes-ambientes_subtitulo {
            font-size: 18px;
            padding: 0.5em 0 1em 0;
        }

        .opcoes-ambientes_descricao {
            padding: 0 0 2em 0;
        }


        /* SECTION LOCALIZACAO */ 

    .container_localizacao {
        flex-direction: row;
    }

    .localizacao-titulo, .localizacao_descricao {
        display: none;
    }

    .localizacao-text {
        display: block;
        text-align: center;
        padding-right: 3em;
        padding-top: 1.5em;
        margin-left: 2em;
        margin-right: 2em;
    }

    .localizacao-text_titulo {
        font-size: 25px;
        font-weight: 700;
        text-transform: uppercase;
    } 

    .localizacao-text_descricao {
        font-size: 17px;
        line-height: 1.7em;
    }

    .localizacao_imagem {
        width: 40%;
    }
}


@media screen and (min-width: 1728px) {

    /* SECTION CIDADE */ 

    .cidade_titulo {
        font-size: 50px;
    }

    .container-text {
        padding-top: 8em;
        padding-bottom: 8em;
    }

    .container-text_titulo {
        font-size: 35px;
    }

    .container-text_descricao {
        font-size: 22px;
    }

    .container-video {
        padding-top: 1em;
        padding-right: 1em;
    }


    /* SECTION OPÇÕES CASA */

    .opcoes-casa {
        font-size: 28px;
    }

    .opcoes-casa_itens {
        padding-top: 2.5em;
    }

    .opcoes-casa_titulo {
        font-size: 24px;
    }

    .opcoes-casa_descricao {
        font-size: 20px;
        padding-top: 0.5em;     
        line-height: 1.6em;
    }


    /* SECTION CARROSSEL */ 

    .carrossel-titulo {
        font-size: 35px;
        margin-left: 1em;
    }

    .swiper {
        width: 45vw;
    }


     /* SECTION AMBIENTES */ 

     .opcoes-ambientes_titulo {
        font-size: 28px;
    }

     .opcoes-ambientes_subtitulo {
        font-size: 24px;
    }

    .opcoes-ambientes_descricao {
        font-size: 20px;
    }


    /* SECTION LOCALIZACAO */ 


    .localizacao-text_titulo {
        font-size: 35px;
    }

    .localizacao-text_descricao {
        font-size: 22px;
    }

    .localizacao_imagem {
        padding-top: 2em;
        padding-right: 1em;
        padding-bottom: 3em;
        width: 110vw;
    }
}


@media screen and (min-width: 2560px) {

    /* SECTION CIDADE */ 

    .cidade_titulo {
        font-size: 65px;
    }

    .container-text {
        padding-top: 10em;
        padding-bottom: 10em;
    }

    .container-text_titulo {
        font-size: 50px;
    }

    .container-text_descricao {
        font-size: 35px;
    }

    .container-video {
        width: 110%;
        height: 55vh;
    }



    /* SECTION OPÇÕES CASA */

    .opcoes-casa {
        font-size: 38px;
    }

    .opcoes-casa_titulo {
        font-size: 34px;
    }

    .opcoes-casa_descricao {
        font-size: 30px;
        padding-top: 0.5em;     
        line-height: 1.6em;
    }


    /* SECTION CARROSSEL */ 

    .carrossel-titulo {
        font-size: 50px;
        margin-left: 2em;
    }


     /* SECTION AMBIENTES */ 

     .opcoes-ambientes_titulo {
        font-size: 38px;
    }

     .opcoes-ambientes_subtitulo {
        font-size: 34px;
    }

    .opcoes-ambientes_descricao {
        font-size: 30px;
    }


    /* SECTION LOCALIZACAO */ 

    .localizacao-text_titulo {
        font-size: 50px;
    }

    .localizacao-text_descricao {
        font-size: 35px;
    }

    .localizacao_imagem {
        width: 33%;
    }

}