
/* SECTION CIDADE */ 

.cidade_titulo {
    font-size: 20px;
    text-align: center;
    line-height: 1.5em;
    color: var(--cinza-escuro);
    margin: 1em;
}

.cidade-negrito {
    font-weight: 700;
}

.cidade-titulo-link {
    text-decoration: none;
    color: var(--cinza-escuro);
}

.container-cidade {
    display: flex;
    flex-direction: column;
    background: var(--verde);
    color: var(--offwhite);
    border-radius: 1em;
    height: 95vw;
    width: 85%;
    margin: 0 auto;
    padding: 1em;
}

.container-titulo {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 0.5em;
}

.container-texto {
    font-size: 14px;
    text-align: center;
    line-height: 1.5em;
}

.container-video {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* SECTION OPÇÕES CASA */


.opcoes-casa {
    color: var(--cinza-escuro);
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--cinza);
    border-radius: 1em;
    padding: 0.5em 3em;
    margin: 2em 0 1.5em 0;
}

.opcoes-casa_itens {
    background: var(--cinza);
    width: 90%;
    margin: 0 auto;
    border-radius: 1em;
    padding: 1em 0;
}

.opcoes-casa_titulo {
    color: var(--cinza-escuro);
    font-size: 17px;
    font-weight: 400 ;
    text-transform: uppercase;
    padding: 0.5em;
}

.container_opcoes-casa {
    display: flex;
    padding: 0.5em;
    align-items: center;
    justify-content: center;
    
}

.container_opcoes-casa-imagem {
    width: 8%;
    padding-left: 1em;
}

.opcoes-casa_descricao {
    color: var(--cinza-escuro);
    padding: 0.5em 3em 1em 3em;
    text-align: center;
}